body {
    background-color: #00012F;
    color: white;
    font-size: 18px;
    font-family: Avenir Next, sans-serif;
    text-align: center;
}

header {
    margin: 15px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 15px;
}

.social-media-logo {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 15px;
}

.link {
    color: #f06e27;
    text-decoration: none;
}

.link:hover {
    color: #592bff;
}


.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    max-width: 810px;
}

.list-item {
    background: linear-gradient(45deg, #f8852d, #592bff);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 10px;
    list-style: none; /* Added to remove bullet points */
    width: 300px;
    max-width: 300px;
    min-height: 140px;
    transition: background-color 0.3s ease; /* Added for smooth transition */
}

.list-item:hover {
    background: linear-gradient(45deg, #592bff, #f8852d); /* Updated gradient colors */
}

.item-link {
    text-decoration: none;
    color: white;
}

@media (max-width: 480px) {
    .list-item {
        margin: 5px 0;
        width: 100%;
        max-width: none;
        min-height: 0;
    }
}
